<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <p><a href="#competion/add/" class="btn btn-success btn-md">add competition</a></p>

        </div>
        <div class="col-sm-8 text-left">
            <h1>Welcome</h1>
            <p>On this page you can see the details of an competition or add your own. If this went wrong you can edit this. </p>
            <hr>
            <h3>{{pageName}}</h3>

            <p>
                <div class="table-responsive">


                    <table id="mytable" class="table table-bordred table-striped">

                        <thead>
                            <th>id</th>
                            <th>Name</th>
                            <th>location</th>
                            <th>minum teams</th>
                            <th>max teams</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </thead>
                        <tbody>

                            <tr ng-repeat="competion in competions track by $index">
                                <td>{{competion.id}}</td>
                                <td>{{competion.name}}</td>
                                <td>{{competion.location}}</td>
                                <td>{{competion.min}}</td>
                                <td>{{competion.max}}</td>
                                <td>
                                    <a href="#/competion/add/{{competion.id}}" class="btn btn-primary btn-xs" role="button">Edit</a>
                                </td>
                                <td>
                                    <input type="button" value="Delete" class="btn btn-danger btn-xs" ng-click="deleteCompetition(competion)" />
                                </td>
                            </tr>





                        </tbody>

                    </table>
                </div>

        </div>
    </div>
</div>