<div class="container-fluid text-center">
    <div class="row content">

        <div class="col-sm-8 text-left">
            <h1>Add a competition</h1>
            <p>On this page you can add a competition. You do this by filling in the form and hit the button</p>

            <hr>
            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Competition name</label>
                <div class="col-8">
                    <input class="form-control" type="text" id="example-text-input" value="newCompetition.name" ng-model="newCompetition.name">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-search-input" class="col-2 col-form-label">Competition location</label>
                <div class="col-8">
                    <select ng-model="newCompetition.location">
                    <option ng-repeat="x in countries" value="{{x.name}}">{{x.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="example-email-input" class="col-2 col-form-label">Minimal participants</label>
                <div class="col-8">
                    <input class="form-control" type="number" id="example-email-input" ng-model="newCompetition.min">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-url-input" class="col-2 col-form-label">Maximal participants</label>
                <div class="col-8">
                    <input class="form-control" type="number" id="example-url-input" ng-model="newCompetition.max">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8">
                    <button type="button" class="btn btn-success" ng-click="saveCompetition()">Save Competition</button>
                </div>
            </div>