<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <p><a href="#games/add/" class="btn btn-success btn-md">add game</a></p>

        </div>
        <div class="col-sm-8 text-left">
            <h1>Welcome</h1>
            <p>This page gives you an overwiew of games you can add, play and delete a game.</p>
            <hr>
            <h3>{{pageName}}</h3>

            <p>
                <div class="table-responsive">


                    <table id="mytable" class="table table-bordred table-striped">

                        <thead>
                            <th>id</th>
                            <th>Home team</th>
                            <th>Away team</th>
                            <th>goals Home</th>
                            <th>Goals Away</th>
                            <th>Status</th>
                            <th>Play game</th>
                            <th>Delete Game</th>
                        </thead>
                        <tbody>

                            <tr ng-repeat="game in games track by $index">
                                <td>{{game.id}}</td>
                                <td>{{game.homeTeam | setTeamName}}</td>
                                <td>{{game.awayTeam | setTeamName}}</td>
                                <td>{{game.goalsHome}}</td>
                                <td>{{game.goalsAway}}</td>
                                <td>{{game.status}}</td>
                                <td>
                                    <input type="button" value="Play game" class="btn btn-warning btn-xs" onclick="this.disabled=true" ng-click="Playgame(game)" />

                                </td>
                                <td>
                                    <input type="button" value="Delete" class="btn btn-danger btn-xs" ng-click="deletegames(game)" />
                                </td>
                            </tr>





                        </tbody>

                    </table>
                </div>

        </div>
    </div>
</div>