<div class="container-fluid text-center">
    <div class="row content">

        <div class="col-sm-8 text-left">
            <h1>Add a player</h1>
            <p>On this page you can add a player. You do this by filling in the form and hit the button</p>
            <hr>
            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">player name</label>
                <div class="col-8">
                    <input class="form-control" type="text" id="example-text-input" ng-model="newPlayer.name">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-search-input" class="col-2 col-form-label">player posisition</label>
                <div class="col-8">
                    <input class="form-control" type="text" id="example-search-input" ng-model="newPlayer.posisition">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-email-input" class="col-2 col-form-label">player foot</label>
                <div class="col-8">
                    <input class="form-control" type="text" id="example-email-input" ng-model="newPlayer.foot">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-url-input" class="col-2 col-form-label">team</label>
                <div class="col-8">
                    <select ng-model="newPlayer.team">
                    <option ng-repeat="x in teams" value="{{x.id}}">{{x.name}}</option>
                    </select> </div>
            </div>
            <div class="form-group row">
                <div class="col-8">
                    <button type="button" class="btn btn-success" ng-click="savePlayer()">Save player</button>
                </div>
            </div>